@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

*{box-sizing:border-box}
html,body,#root{height:100%}
body{
  margin:0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: linear-gradient(180deg, $bg1 0%, $bg2 100%);
  color: $text;
  -webkit-font-smoothing:antialiased;
}
